.chart {
  border: 1px dashed lightgray;
  border-radius: 5px;
  font-family: "Nunito Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;

  &:not(.height-auto) {
    height: 100%;
  }

  &:not(.width-auto) {
    width: 100%;
  }
}

.chart-header.chart-header {
  border-bottom: 0;
}
